header h1 {
  color: rgb(62, 143, 214);
  padding: 0 50%;
  text-align: center;
}
/* Styled links */
.btn {
  display: inline;
  font-size: 16px;
  text-align: center;
  font-family: sans-serif;
  margin: 20px;
  padding: 4px 10px;
}
.linkedin-btn {
color: black;
background-color: rgb(255, 0, 21);
border-radius: 5px;
}
.github-btn {
  color: black;
  background-color: purple;
  border: 5px green;
}
 h3, h2 {
   color: black;
   font-family: 'Times New Roman', Times, serif;
   text-align: center; 
 }
p {
color: gray;
text-align: center;
font-size: 16px;
}
